/* Your app styles here */

.login-art{

    color: rgb(104, 140, 192);
    margin-left: 7px;

}

.login-art-topo{

    color: rgb(104, 140, 192);
    margin-left: 5px;

}


.login-art2{

    padding-top: 132px;

}

.login-art3{

    font-size: 12px;
    margin-left: 41%;

}

.logoimg{

    width: 51%;            

}

.placaimg{

    margin: 0 0 0 116px;
    display:none;

}

.l_multiusu{

    margin-top: 119px;

}